.carouselEdit{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(170,170,170);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.carouselNameEdit{
    margin-bottom: 4px;
    font-size: large;
}

.carouselLinkEdit{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 4px;
}

.carouselRemoveEdit{
    color: brown;
    font-size: large;
    text-align: center;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 19px;
    width: 18px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid rgb(170, 170, 170);
}

.carouselListEdit{
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
}

@media screen and (max-width: 510px){
    .carousel{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 30vh;
        overflow-y: hidden;
    }

    .carouselEdit{
        background-color: rgb(250, 250, 250);
        border: 1px solid rgb(170,170,170);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }

    .carouselListEdit{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .carouselImage{
        width: 95%;
    }

    .carouselButtons{
        display: none;
    }
}

@media screen and (min-width: 511px) and (max-width: 800px){
    .carousel{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50vh;
        overflow-y: hidden;
    }

    .carouselImage{
        width: 95%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px){
    .carousel{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50vh;
        overflow-y: hidden;
    }

    .carouselImage{
        width: 85%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px){
    .carousel{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 55vh;
        overflow-y: hidden;
    }

    .carouselImage{
        width: 85%;
    }
}

@media screen and (min-width: 1601px){
    .carousel{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50vh;
        overflow-y: hidden;
    }

    .carouselImage{
        width: 85%;
    }
}